<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tdrive.infra.persistence.mybatis.resource.mapper.ResourceMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="resourceSeq">

        INSERT INTO TB_RESOURCE_1
        (
            USER_SEQ,
            PARENT_FOLDER_SEQ,
            RESOURCE_TYPE,
            RESOURCE_NAME,
            PATH,
            EXT,
            MIME_TYPE,
            SIZE_BYTE,
            REGISTER_USER_SEQ
        )
        VALUES
        (
            #{userSeq},
            #{parentFolderSeq},
            #{resourceType},
            #{resourceName},
            "path1",
            #{ext},
            #{mimeType},
            #{sizeByte},
            #{registerUserSeq}
        )

    </insert>
    
    <insert id="insertByTable" useGeneratedKeys="true" keyProperty="entity.resourceSeq">

        INSERT INTO TB_RESOURCE_${tableNumber}
        (
            USER_SEQ,
            PARENT_FOLDER_SEQ,
            RESOURCE_TYPE,
            RESOURCE_NAME,
            PATH,
            EXT,
            MIME_TYPE,
            SIZE_BYTE,
            REGISTER_USER_SEQ
        )
        VALUES
        (
            #{entity.userSeq},
            #{entity.parentFolderSeq},
            #{entity.resourceType},
            #{entity.resourceName},
            "path",
            #{entity.ext},
            #{entity.mimeType},
            #{entity.sizeByte},
            1
        )

    </insert>

    <update id="updateResourceSaveName">
        UPDATE
            TB_RESOURCE_1
        SET
            RESOURCE_SAVE_NAME = #{resourceSaveName}
        WHERE
            RESOURCE_SEQ = #{resourceSeq}
    </update>

    <update id="updateResourceSaveNameByTable">
        UPDATE
            TB_RESOURCE_${tableNumber}
        SET
            RESOURCE_SAVE_NAME = #{entity.resourceSaveName}
        WHERE
            RESOURCE_SEQ = #{entity.resourceSeq}
    </update>


</mapper>